<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Viribus | Exercise and diet tracking app.</title>
        <link rel="stylesheet" href="/static/css/main.home.css">
    </head>
    <body>
        <div class="container">
            <div class="head">
                <h1>Viribus</h1>
            </div>
            <div class="subs">
                Your fitness and diet tracking app.
            </div>
        </div>
        <div style="height: 200px; overflow: hidden;width: 100%;margin-bottom: 0;position: relative;width: 100%;transform: rotate(180deg);" >
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
              <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" class="wave-content"></path>
            </svg>
        </div>
        <div class="cont-un">
            <div class="content">
                <h1>hello</h1>
            </div>
        </div>
    <script src="/static/js/main.home.js"></script>
    </body>
</html>