<html lang="en">
    <head>
        <!-- All Meta Tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta property="og:title" content="Viribus"/>
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://viribus.xyz"/>
        <meta property="og:image" content="https://cdn.discordapp.com/attachments/784591067957821452/845405425519689758/Untitled.png" />
        <meta property="og:description" content="Your fitness and diet tracking app." />
        <meta name="theme-color" content="#39d8ff" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Webpage Title -->
        <title>Viribus | Premium</title>
        <!-- All external page links -->
        <link rel="stylesheet" href="/static/css/main.home.css">
        <link rel="stylesheet" href="/static/css/main.account.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>

    <!-- Page Header -->
    <div class="container">
        <div class="head">
            <h1>Viribus Premium</h1>
        </div>
        <div class="subs">
            All information related to Viribus Premium is available below.
        </div>
    </div>

    <div class="box">
        <!-- Start of FAQ. -->
        <h1>Premium</h1>
        <h5>FAQ</h5>
        <h6>What is Viribus Premium?</h6>
        <p>Viribus Premium is a one time in app purchase that offers our users to have more accessibility to other products on our app. Such as, Unlimited logging amounts for both workouts, and diet plans.</p>
        <h6>Why should we buy premium?</h6>
        <p>Our premium service is specifically meant to gain funding for the project, it is not meant to be used as a profit method for the Development Team, nor is it meant to be a profit method for the founders.</p>  
        <h6>How much is Viribus Premium?</h6>
        <p>Viribus premium sits currently at $2, this is a one time purchase, in which you'll gain unlimited access for as long as you have an account with our service.</p> 
        
        <!-- Start of Actual Premium Box. -->
        <div class="box1">
            <h1>Premium</h1>
            <div class="box2">
                <h4>What We offer</h4>
                <h6>Unlimited Access</h6>
                <p>Due to the limitability that our free version restricts, our premium version offers the ability to have unlimited access to everything our service has to offer.</p>
            </div>
            <form action="./purchase">
                <br><input type="submit" value="Purchase Premium">                
            </form>
        </div>
    </div>

    <!-- Scripts --> 
    <script src="/static/js/main.home.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    </body>
</html>