<html lang="en">
    <head>
        <!-- All Meta Tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta property="og:title" content="Viribus"/>
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://viribus.xyz"/>
        <meta property="og:image" content="https://cdn.discordapp.com/attachments/784591067957821452/845405425519689758/Untitled.png" />
        <meta property="og:description" content="Your fitness and diet tracking app." />
        <meta name="theme-color" content="#39d8ff" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Webpage Title -->
        <title>Viribus | Signup</title>
        <!-- All external page links -->

        <link rel="stylesheet" href="/static/css/main.home.css">
        <link rel="stylesheet" href="/static/css/main.login.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>var obj = new Object();</script>
    </head>
    <body>

    <div class="container">
        <div class="head">
            <h1 style="color:lightblue">Signup</h1>
        </div>
    </div>

    <div class="form">
        <h1>Signup</h1>
        <p>Signup for Viribus below!</p>
        
        <form>            

            <label for="email"><strong>Email</strong></label><br>
            <input type="email" id="email" name="email" placeholder="Enter an email..." autocomplete="email">
            <p style="font-size: 10px;display: none;" id="email-invalid">Email is invalid!</p><br>
            <label for="uname"><strong>Username</strong></label><br>
            <input type="text" id="uname" name="uname" placeholder="Enter a username..." autocomplete="username">
            <p style="font-size: 10px;display: none;" id="username-invalid">Username is taken!</p><br>
            <label for="fname"><strong>First Name</strong></label><br>
            <input type="text" id="fname" name="fname" placeholder="First Name..." autocomplete="name"><br><br>
            <label for="lname"><strong>Last Name</strong></label><br>
            <input type="text" id="lname" name="lname" placeholder="Last Name..." autocomplete="cc-name"><br><br>
            <label for="age"><strong>Age</strong></label><br>
            <input type="text" id="age" name="age" placeholder="Age..."><br><br>
            <label for="pwd"><strong>Password</strong></label><br>
            <input type="password" id="pwd" name="pwd" placeholder="Password..." autocomplete="current-password"><br><br>
            <input type="submit" value="Signup" id="signup">

        </form>

    </div>

    <!-- Scripts --> 
    <script src="/static/js/main.script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>

    </body>
</html>