<html lang="en">
    <head>
        <!-- All Meta Tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta property="og:title" content="Viribus"/>
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://viribus.xyz"/>
        <meta property="og:image" content="https://cdn.discordapp.com/attachments/784591067957821452/845405425519689758/Untitled.png" />
        <meta property="og:description" content="Your fitness and diet tracking app." />
        <meta name="theme-color" content="#39d8ff" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Webpage Title -->
        <title>Viribus | Terms</title>
        <!-- All external page links -->
        <link rel="stylesheet" href="/static/css/main.home.css">
        <link rel="stylesheet" href="/static/css/main.terms.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>var obj = new Object();</script>
    </head>
    <body>
    <div class="container">
        <div class="head">
            <h1 style="color:lightblue">ToS</h1>
        </div>
    </div>
    <div class="terms">
        <h1>Viribus Terms of Service</h1>
        <p>Viribus Terms of Use<br>Last Updated - 7/2/2021</p>
        <p>Welcome to the Viribus Terms of Use agreement. For purposes of this agreement, “Site” refers to the Company’s website, which can be accessed <a href="https://viribus.xyz">here</a> or through our mobile applications. “Service” refers to the Company’s services accessed via the Site, in which users can log there workouts, and make diet plans. The terms “we,” “us,” and “our” refer to the Company. “You” refers to you, as a user of our Site or our Service.<br><br>The following Terms of Use apply when you view or use the Service via our website located at <a href="https://www.viribus.xyz">Viribus</a> or by accessing the Service through clicking on the application (the “App”) on your mobile device.<br><br>Please review the following terms carefully. By accessing or using the Service, you signify your agreement to these Terms of Use. <strong>If you do not agree to be bound by these Terms of Use in their entirety, you may not access or use the Service.</strong></p>
        <p><strong>PRIVACY POLICY</strong><br><br>The Company respects the privacy of its Service users. Please refer to the Company’s Privacy Policy (found here: <a href="https://www.viribus.xyz/privacy">Privacy Policy</a>) which explains how we collect, use, and disclose information that pertains to your privacy. When you access or use the Service, you signify your agreement to the Privacy Policy as well as these Terms of Use.</p>
        <p><strong>ABOUT THE SERVICE</strong><br><br>The Service allows you to log their exercise times, and too log their meals. Down the road we intend to offer a meal plan functionality, along with premade exercise routines for users to follow.</p>
        <p><strong>REGISTRATION; RULES FOR USER CONDUCT AND USE OF THE SERVICE</strong><br><br>You need to be at least <strong>13 years old</strong> and a resident of the United States to register for and use the Service.<br><br>If you are a user who signs up for the Service, you will create a personalized account which includes a unique username and a password to access the Service and to receive messages from the Company. You agree to notify us immediately of any unauthorized use of your password and/or account. The Company will not be responsible for any liabilities, losses, or damages arising out of the unauthorized use of your member name, password and/or account.</p>
    </div>
    <!-- Scripts --> 
    <script src="/static/js/main.script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    </body>
</html>